pipeline/pl_orchestrator.json
{
	"name": "pl_orchestrator",
	"properties": {
		"activities": [
			{
				"name": "get env",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "init_env",
					"value": {
						"value": "@if(contains(toLower(pipeline().DataFactory),'dev')\n,'dev'\n,'prd'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get env parameters",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "get env",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@SELECT  \n\tProcessName, \n\tEnvironmentName, \n\tDataSourceName, \n\tDatabaseServerName, \n\tDatabaseName, \n\tDatabaseSchemaName, \n\tDatabaseTableName, \n\tIsActive\nFROM [sql-db-adf-metadata].Metadata.DataSource\nWHERE LOWER(EnvironmentName) = '@{variables('init_env')}';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadUncommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_metadados",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"init_env": {
				"type": "String"
			}
		},
		"annotations": []
	}
}